<form action="{{ path('comment_create', {'id' : comment.blog.id } ) }}" method="POST" enctype="{{ form_enctype(form) }}" class="blogger" >
    {{ form_errors(form) }}
        
    {{ form_widget(form) }}
        <p>
            <input type="submit" value="Submit" />
        </p>
</form>